{% extends 'base.html' %}

 {% block css_add %}
 {% endblock %}

{% block contenido %}

    <div class="card-inverse">
        <form class="">
            {% csrf_token %}

              <div class="form-group  row ">
                <label class="col-sm-2 form-control-label ">Nombre:</label>
                <div class="col-sm-4">
                    {{ form.nombre }}
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Apellidos:</label>
                <div class="col-sm-4">{{ form.apellidos }}</div>
              </div>
              <div class="form-group  row">
                <label class="col-sm-2 form-control-label">Dirección:</label>
                <div class="col-sm-6">{{ form.direccion }}</div>
              </div>
              <div class="form-group row ">
                <label class="col-sm-2 form-control-label">nsn:</label>
                <div class="col-sm-4">{{ form.nsn }}</div>
              </div>
                  <div class="form-group row ">
                <label class="col-sm-2 form-control-label">Telefono de casa:</label>
                <div class="col-sm-4">{{ form.telefono_casa }}</div>
              </div>
              <div class="form-group row ">
                <label class="col-sm-2 form-control-label">Telefono celular:</label>
                <div class="col-sm-4">{{ form.telefono_celular }}</div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Empresa:</label>
                <div class="col-sm-4">{{ form.empresa }}</div>
              </div>
              <div class="form-group  row">
                <label class="col-sm-2 form-control-label">Registro Patronal:</label>
                <div class="col-sm-4">{{ form.registro_patronal }}</div>
              </div>
              <div class="form-group row ">
                <label class="col-sm-2 form-control-label">Facturación:</label>
                <div class="col-sm-4">{{ form.facturacion }}</div>
              </div>
              <div class="form-group row ">
                <label class="col-sm-2 form-control-label">Comisión:</label>
                <div class="col-sm-4">{{ form.comision }}</div>
              </div>
              <div class="form-group  row">
                <label class="col-sm-2 form-control-label">Acta de Nacimiento:</label>
                <div class="col-sm-4">
                    <label class="c-input c-checkbox">
                        {{ form.acta_de_nacimiento }}
                        <span class="c-indicator"></span>
                    </label>

                </div>
              </div>
              <div class="form-group row ">
                <label class="col-sm-2 form-control-label">INE:</label>
                <div class="col-sm-4">{{ form.ife }}</div>
              </div>
              <div class="form-group row ">
                <label class="col-sm-2 form-control-label">Correo electrónico:</label>
                <div class="col-sm-4">{{ form.email }}</div>
              </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-4">
                  <button type="submit" class="btn btn-default">Guardar</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}